<%= form_with(model: reserva) do |form| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
        <% reserva.errors.each do |error| %>
          <li><%= error.full_message %></li>
      
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :id_tipo_reserva, "Selecciona el tipo de Reserva" %>
  <%= form.select :id_tipo_reserva, options_for_select(@tipo_reservas), :class => 'idTipoReserva'%>
  <br>
  <br>
  <%= form.label :id_tipo_reserva, "Selecciona la fecha de inicio" %>
  <%= form.datetime_local_field :desde %>
  <br>
  <br>
  <%= form.label :hasta, "Selecciona la fecha y hora de finalizacion" %>
  <%= form.datetime_local_field :hasta %>
  <br>
  <br>
  <%= form.label :id_area_padre, "Selecciona el Area" %>
  <%#= form.select :id_area_padre, options_for_select(@area_padre), :class => 'id_area_padre'%>
  <%#= form.grouped_collection_select :id_area_padre, options_for_select(@area_padre), :class => 'id_area_padre', :id_area, options_for_select(@area_hija), :class => 'id_area' %>




  <div class="form-group mb-2">
                            <select class="form-control-outline-dark" id="areas" name="areas">
                                <% @area_request.each do |area|%>
                                    <% if area.try('[]', :idAreaPadre) && area.try('[]', :idAreaPadre).try(:size).try(:positive?) %>
                                        <optgroup label="<%= area[:idAreaPadre]%>">
                                            <% area.each do |areapadre|%>
                                                <option value="<%= areapadre[:nombre]%>"> <%#= children["nombre"] %> </option>        
                                            <% endt %>
                                        </optgroup>
                                    <% else%>
                                         <option value="<%= area[:idArea]%>"> <%= area[:nombre] %> </option> 
                                    <% end %>
                                <% end %>
                            </select>
                        </div>



  <%# options_for_select(container, selected = nil) %>
  <%# <%['display','value',:class => 'option_class']%> 
  <div class="actions">
    <br>
    <%= form.submit %>
  </div>
<% end %>
