<%= form_with(model: tipo_reserva) do |form| %>
  <% if tipo_reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_reserva.errors.count, "error") %> prohibited this tipo_reserva from being saved:</h2>

      <ul>
        <% tipo_reserva.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :nombre%>
  <%= form.text_field :nombre%>
  <br>
  <br>
  <%= form.label :descripcion%>
  <%= form.text_field :descripcion%>
  <br>
  <br>
  <%= form.label :publico%>
  <%= form.check_box :publico, {}, true, false%>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
